@import "../../variables";


:host {

  #project-video {
    margin-top: 60px;
    video {
      min-width: 100%;
    }
  }

  form {
    text-align: center;
    margin-bottom: $interspace;
    input {
      border-width: 0;
      text-align: center;
      color: rgb(158, 158, 158);
      background-color: rgb(245, 245, 245);
      font-size: 0.8em;
      margin-top: $interspace;
      font-family: 'Roboto Mono';
    }
    button[type="submit"] {
      width: 180px;
      margin-top: $interspace;
    }
  }

}
