@import "../../variables";


:host {

  h2, h4 {
    margin-top: $interspace;
  }
  h3, h4 {
    margin-bottom: $interspace;
  }

  .project-img-fluid {
    @include make-fluid;
  }

  form {
    text-align: center;
    input {
      border-width: 0;
      text-align: center;
    }
    button[type="submit"] {
      width: 180px;
      margin-top: $interspace;
    }
  }

}
