@import "../../variables";


:host {

  #home-jumbo {
    background-color: rgb(245, 245, 245);
    padding-top: 60px;
    .container {
      img.animation {
        position: absolute;
        top: 30px;
        margin-right: -30px;
        margin-left: -30px;
      }
      .row {
        .col {
          padding-top: 80px;
          padding-bottom: 155px;
          p {
            line-height: 1.3em;
            max-width: 800px;
            font-size: 1.8em;
          }
          .btn {
            margin-top: 30px;
          }
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    #home-jumbo {
      .container {
        img.animation {
          top: 290px;
        }
        .row {
          .col {
            padding-bottom: 118px;
          }
        }
      }
    }
  }

  @media (max-width: 330px) {
    #home-jumbo {
      .container {
        img.animation {
          top: 400px;
        }
      }
    }
  }

  @media (min-width: 440px) and (max-width: map-get($grid-breakpoints, 'sm')) {
    #home-jumbo {
      .container {
        img.animation {
          top: 200px;
        }
        .row {
          .col {
            padding-bottom: 118px;
          }
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, 'sm')) and (max-width: map-get($grid-breakpoints, 'md')) {
    #home-jumbo {
      .container {
        img.animation {
          top: 144px;
        }
        .row {
          .col {
            padding-bottom: 124px;
          }
        }
      }
    }
  }

  .client-col {
    margin-bottom: $interspace;
  }

  .contacts-row {
    margin-top: $interspace;
    h5 {
      font-size: 1.2em;
      line-height: 1em;
    }
  }

  span {
    &.open-status {
      color: lighten(saturate(green, 40%), 10%);
    }
    &.closed-status {
      color: red;
    }
  }

  #they-say-card {
    margin-top: $interspace / 2;
    margin-bottom: $interspace;
    font-family: "Roboto Mono";
    .card-header {
      text-align: center;
    }
    .card-block {
      height: 220px;
      .card-text {
        font-size: 14px;
      }
    }
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      .card-block {
        height: 280px;
      }
    }
  }

  #join-us {
    p {
      margin-bottom: $interspace;
    }
    .btn {
      margin-bottom: $interspace;
    }
  }

  hr:last-of-type {
    margin-top: $interspace * 2;
  }

  .contacts-row {
    a:hover {
      text-decoration: none;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .contacts-row {
      font-size: 1em;
      line-height: 1.2em;
      word-wrap: break-word;
      & > div {
        margin-top: $interspace;
      }
    }
  }

}
