<section id="home-jumbo">
  <div class="container">
    <video class="img-fluid img-divider" src="/assets/animations/intro.mp4" autoplay loop></video>
    <div class="row">
      <div class="col">
        <p [innerHTML]="'home.jumbo' | translate"></p>
        <div>
          <a class="btn btn-outline-coom-primary btn-lg" href="#">
            {{ 'home.jumbo.btn' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <section class="row" id="what-we-do">
    <div class="col-12">
      <h3 class="text-center">{{ 'home.what.title' | translate }}</h3>
      <p [innerHTML]="'home.what.text1' | translate"></p>
      <video class="img-fluid img-divider" src="/assets/animations/what.mp4" autoplay loop></video>
      <p [innerHTML]="'home.what.text2' | translate"></p>
    </div>
  </section>

  <hr />

  <section class="row" id="projects">
    <div class="col-12">
      <h3 class="text-center">{{ 'home.projects.title' | translate }}</h3>
      <div class="row" *ngFor="let project of projects">
        <div class="col-12">
          <app-home-project [project]="project"></app-home-project>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section class="row" id="clients">
    <div class="col-12">
      <h3 class="text-center">{{ 'home.clients.title' | translate }}</h3>
      <div class="row">
        <div class="col-3 client-col" *ngFor="let client of clients">
          <a [href]="client.href" [title]="client.name" target="_blank">
            <img class="img-fluid" [src]="client.img" [alt]="client.name">
          </a>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section class="row" id="contacts">
    <div class="col-12">
      <h3 class="text-center">{{ 'home.contacts.title' | translate }}</h3>
      <p [innerHTML]="'home.contacts.text' | translate"></p>
      <video class="img-fluid img-divider" src="/assets/animations/contacts.mp4" autoplay loop></video>
      <div class="row contacts-row">
        <div class="col-md-6">
          <h5>{{ 'home.contacts.title' | translate }}</h5>
          <p>
            Coompany s.r.l.s.<br />
            Via Abate Gimma 248, 70100, Bari, {{ 'italy' | translate }}<br />
            <a href="https://goo.gl/maps/oQMBuKnvg242" target="_blank"
               class="contacts-green">Google Maps</a><br />
            <br />
            {{ 'tel' | translate }}:
            <a href="tel:+3100000000000" target="_blank"
              class="contacts-magenta">+3100000000000</a><br />
            {{ 'info' | translate }}:
            <a href="mailto:info@coompany.eu" target="_blank"
              class="contacts-orange">info@coompany.eu</a><br />
            {{ 'assistance' | translate }}:
            <a href="mailto:assistance@coompany.eu" target="_blank"
              class="contacts-cyan">assistance@coompany.eu</a>
          </p>
        </div>
        <div class="col-md-6">
          <h5>Team</h5>
          <p>
            Vittorio Netti, CEO &amp; Founder<br />
            <a href="mailto:v.netti@coompany.eu" target="_blank"
              class="contacts-orange">v.netti@coompany.eu</a>
          </p>
          <p>
            Andrea Jemmett, CTO &amp; Founder<br />
            <a href="mailto:a.jemmett@coompany.eu" target="_blank"
               class="contacts-orange">a.jemmett@coompany.eu</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section class="row" id="say-about-us">
    <div class="col-12">
      <h3 class="text-center">{{ 'home.contacts.theytell' | translate }}</h3>
      <div class="row justify-content-md-center contacts-row">
        <div class="col-10">
          <div class="card" id="they-tell-card">
            <div class="card-block">
              <p class="card-text quote"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section class="row" id="join-us">
    <div class="col-12 text-center">
      <h3 class="text-center">{{ 'home.join.title' | translate }}</h3>
      <p>{{ 'home.join.text' | translate }}</p>
      <a href="mailto:info@coompany.eu" target="_blank" class="btn btn-outline-coom-primary">
        {{ 'home.join.btn' | translate }}
      </a>
    </div>
  </section>

</div>
