@import "../../variables";


:host {

  #home-jumbo {
    background-image: url(http://placehold.it/1200x800?text=+);
    @include make-fluid;
    padding: 100px 0;
  }

  h3 {
    margin: $interspace 0;
  }

  .client-col {
    margin-bottom: $interspace;
  }

  .contacts-row {
    margin-top: $interspace;
  }

  span {
    &.open-status {
      color: lighten(saturate(green, 40%), 10%);
    }
    &.closed-status {
      color: red;
    }
  }

  #they-tell-card {
    margin-top: $interspace / 2;
    margin-bottom: $interspace;
    font-family: "Roboto Mono";
    .card-header {
      text-align: center;
    }
    .card-block {
      height: 220px;
      .card-text {
        font-size: 14px;
      }
    }
  }

  #join-us {
    form .row:last-of-type {
      margin-top: $interspace;
    }
    .form-control {
      border-width: 0;
      padding: 0;
    }
  }

  hr:last-of-type {
    margin-top: $interspace * 2;
  }

}
