<div class="row home-project">
  <div class="col-6">
    <a [routerLink]="['/projects', project.prefix]">
      <img class="img-fluid" [src]="project.imgHome" />
    </a>
  </div>
  <div class="col-6">
    <h4>
      <a [routerLink]="['/projects', project.prefix]">
        {{ project.name | translate }}
      </a>
    </h4>
    <h6>{{ project.subtitle | translate }}</h6>
    <p>{{ project.summary | translate }}</p>
    <a [routerLink]="['/projects', project.prefix]" class="project-read-more">
      {{ 'home.projects.more' | translate }}
    </a>
  </div>
</div>
