@import "../../../variables";


.home-project {
  margin-top: 40px;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .project-name {
      margin-top: $interspace / 2;
    }
  }

  .project-read-more {
    color: $gray-light;
    font-size: 14px;
    &:hover,
    &:active {
      color: rgb(64, 196, 255);
    }
  }
}
