@import "../../../variables";


.home-project {
  margin-top: 40px;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .project-name {
      margin-top: $interspace / 2;
    }
  }

  .project-read-more {
    color: rgb(0, 176, 255);
    font-size: .8em;
    line-height: 1em;
    font-family: 'Roboto Mono';
    &:hover,
    &:active {
      color: rgb(64, 196, 255);
    }
  }
}
