<footer>
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-3 col-md-2">
        <h6>{{ 'footer.sitemap.title' | translate }}</h6>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="home">
              {{ 'footer.sitemap.home' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="home" fragment="what-we-do">
              {{ 'footer.sitemap.what' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="home" fragment="projects">
              {{ 'footer.sitemap.projects' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="home" fragment="clients">
              {{ 'footer.sitemap.clients' | translate }}
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="journal">
              {{ 'footer.sitemap.journal' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="home" fragment="contacts">
              {{ 'footer.sitemap.contacts' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="home" fragment="join-us">
              {{ 'footer.sitemap.join' | translate }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-sm-3 col-md-2">
        <h6>{{ 'footer.findus.title' | translate }}</h6>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.facebook.com/coompany.srls">Facebook</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/3364688">Linkedin</a></li>
          <li><a target="_blank" href="https://github.com/coompany/">GitHub</a></li>
        </ul>
      </div>
      <div class="col-4 col-sm-3 col-md-2">
        <h6>{{ 'footer.hear.title' | translate }}</h6>
        <a href="mailto:info@coompany.eu" target="_blank">info@coompany.eu</a>
        <a href="tel:+390000000000" target="_blank">+39 000 000 0000</a>
      </div>
    </div>
    <div class="row" id="copy">
      <div class="col-12">
        &copy;2017 {{ 'footer.text' | translate }}
      </div>
    </div>
  </div>
</footer>
