@import "../../variables";

footer {
  font-size: 12px;
  line-height: 16px;
  margin-top: $interspace;
  padding-bottom: 25px;
  padding-top: 25px;
  border-top: 1px solid $gray-lighter;

  #copy {
    margin-top: 20px;
  }
}
