<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>
          Coompany s.r.l.s.<br />
          Via Abate Gimma 248, 70124 Bari, Italia<br />
          P.IVA 00000000000
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Email: info@coompany.eu<br />
          Tel: +39 000 000 0000
        </p>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.facebook.com/coompany.srls">Facebook</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/3364688">Linkedin</a></li>
          <li><a target="_blank" href="https://github.com/coompany/">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="row" id="copy">
      <div class="col-12">
        &copy;2017 {{ 'footer.text' | translate }}<br />
        Design by Cren
      </div>
    </div>
  </div>
</footer>
