@import '../../variables';


:host {

  .navbar.bg-blurred {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  .navbar-brand {
    padding-top: .9rem;
    padding-bottom: .9rem;
  }

  .navbar-nav {
    .nav-item {
      margin-left: 10px;
      &:hover {
        text-decoration: none;
      }
      &.active {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  #langs-list {
    @media (min-width: map-get($grid-breakpoints, 'md')) {
      li:first-of-type {
        border-left: 1px solid $gray-300;
        padding-left: 8px;
      }
    }
    .btn {
      font-size: 22px;
      color: $gray-300;
      &.active {
        color: $gray-500;
        font-weight: bold;
      }
    }
  }

}
