/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Founders Grotesk Text";
    src: url(assets/fonts/FoundersGroteskText-Regular.otf);
}
@font-face {
    font-family: "Founders Grotesk Text";
    font-style: italic;
    src: url(assets/fonts/FoundersGroteskText-RegularItalic.otf);
}
@font-face {
    font-family: "Founders Grotesk Text";
    font-weight: bold;
    src: url(assets/fonts/FoundersGroteskText-Bold.otf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(assets/fonts/RobotoMono-Regular.ttf);
}

@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 1.2em;
  line-height: 1.4em;

  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
}
