/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "National";
    src: url(assets/fonts/National-Regular.otf);
}
@font-face {
    font-family: "National";
    font-style: italic;
    src: url(assets/fonts/National-RegularItalic.otf);
}
@font-face {
    font-family: "National";
    font-weight: 500;
    src: url(assets/fonts/National-Bold.otf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(assets/fonts/RobotoMono-Regular.ttf);
}

@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


.text-orange {
  color: $coom-orange;
}

$linkedin: #0177B5;
$facebook: #3B5998;

.contacts-green:hover {
  color: rgb(0, 230, 118);
}
.contacts-magenta:hover {
  color: rgb(101, 31, 255);
}
.contacts-orange:hover {
  color: rgb(255, 193, 7);
}
.contacts-cyan:hover {
  color: rgb(0, 176, 255);
}
.contacts-facebook:hover {
  color: $facebook;
}
.contacts-linkedin:hover {
  color: $linkedin;
}


// Clear input placeholder on focus
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


body {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.3em;
  color: rgb(60, 60, 60);

  h2 {
    font-size: 2.8em;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 50px;
  }

  h2, h3 {
    color: rgb(21, 21, 21);
    font-weight: bold;
    line-height: 1em;
    text-align: center;
  }

  h3 {
    margin: $interspace 0;
  }

  #project-content {
    ul, ol {
      margin: 1.6rem 0 2rem 0;
    }
  }

  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

  app-root {
    & > .container-fluid:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .img-divider {
    margin: $interspace 0;
  }

  hr {
    border-top: 2px dotted rgb(235, 235, 235);
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .btn.btn-outline-coom-primary {
    @include button-outline-coom-variant($coom-orange);
  }
  .btn.btn-outline-coom-secondary {
    @include button-outline-coom-variant($secondary, lighten($secondary, 20%));
  }
  .btn.btn-outline-coom-info {
    @include button-outline-coom-variant($info, lighten($info, 20%));
  }
  .btn.btn-outline-coom-success {
    @include button-outline-coom-variant($success, lighten($success, 20%));
  }
  .btn.btn-outline-coom-warning {
    @include button-outline-coom-variant($warning, lighten($warning, 20%));
  }
  .btn.btn-outline-coom-danger {
    @include button-outline-coom-variant($danger, lighten($danger, 20%));
  }
}
