/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "National";
    src: url(assets/fonts/National-Regular.otf);
}
@font-face {
    font-family: "National";
    font-style: italic;
    src: url(assets/fonts/National-RegularItalic.otf);
}
@font-face {
    font-family: "National";
    font-weight: 500;
    src: url(assets/fonts/National-Bold.otf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(assets/fonts/RobotoMono-Regular.ttf);
}

@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 1.2em;
  line-height: 1.4em;

  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

  app-root {
    & > .container-fluid:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }
  }

  img.img-divider {
    margin: $interspace 0;
  }

  hr {
    border-top: 2px dotted rgb(235, 235, 235);
  }

  .btn.btn-outline-coom-primary {
    @include button-outline-coom-variant($coom-orange);
  }
  .btn.btn-outline-coom-secondary {
    @include button-outline-coom-variant($btn-secondary-border, lighten($btn-secondary-border, 20%));
  }
  .btn.btn-outline-coom-info {
    @include button-outline-coom-variant($btn-info-bg, lighten($btn-info-bg, 20%));
  }
  .btn.btn-outline-coom-success {
    @include button-outline-coom-variant($btn-success-bg, lighten($btn-success-bg, 20%));
  }
  .btn.btn-outline-coom-warning {
    @include button-outline-coom-variant($btn-warning-bg, lighten($btn-warning-bg, 20%));
  }
  .btn.btn-outline-coom-danger {
    @include button-outline-coom-variant($btn-danger-bg, lighten($btn-danger-bg, 20%));
  }
}
