@import '~bootstrap/scss/_variables.scss';

// bootstrap varibles
$font-family-base: "Founders Grotesk Text";
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 832px,
  xl: 832px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 800px
);
$link-color: $body-color;
$link-hover-color: darken($link-color, 15%);

// custom variables
$interspace: 40px;

// mixins
@mixin make-fluid($height: 400px) {
  background-position: center;
  min-height: $height;
}
